/MiscFixes/Debug
/MiscFixes/Release
/BaseDLL/Debug
/BaseDLL/Release
/CullspherePatch/Debug
/CullspherePatch/Release
/DOW2DLLInjector/Debug
/DOW2DLLInjector/Release
/DOW2DLLInjector/x64
/Debug
/Release
/EightPlayerFFAPatch/Debug
/EightPlayerFFAPatch/Release
/LanPatch/Debug
/LanPatch/Release
/LastStandPatch/Debug
/LastStandPatch/Release
/SetupDLL/Release
/SetupDLL/Debug