module: popcap
mod-folder: dlls
launch-options: " -dev -nomovies"
sleep-after-menu: 2000
exe-path: 	C:\SteamLibrary\steamapps\common\Dawn of War II - Retribution\DOW2.exe
load-order:
GamemodePatch.dll
CullspherePatch.dll
end-load
console: true
window: true
img: test2.bmp
communicate:
GamemodePatch.dll;C:\Users\bruis\source\repos\DOW2DLLInjector\DOW2DLLInjector\dlls\gmd.cfg;
end-comm